  .carousel { /*resizing pictures from slideshow */
    width: 100%;
    height: auto;
    padding-top: 56px;
  }
 /* img {
    width: 100%;
    height: auto;
}*/
.container{
  padding-top:72px;
}
.card{
  margin-top: 20px;

}
.card-main-page{
  margin-bottom: 12px;
}
footer{
  background: #dfe0e0;
  width:100%;

  margin-top: 90px;
}
footer .card-header{
  background: #7d7d7d;
}

#map{
  height:300px;
}
#footerData{
  text-align: center;
}

.card-img {
   width: auto;
   height: 210px;
   opacity: 0.7;
   filter: alpha(opacity=70); /* For IE8 and earlier */
}
.card-header-footer{
  text-align: center;
}
@media (min-width: 768px){
  .container {
    max-width: 1040px;
  }
}
@media (max-width: 768px){
  #map{
    display: none;
  }
  #footerData{
    float: none !important;
    margin: 0 auto;
    text-align: center;
  }
  .menuSinglePage, .pl-4, .px-4, .dropdown-item{
    text-align: center!important;
  }
  .loginFormSinglePage{
    margin-top:50px!important;
  }
  .carousel-item{
    height: 300px!important;
  }
  .form-inline {
    display: block;
  }
}
  .black {
    color:black!important;
    text-decoration: none!important;
  }
.black a, .black a:hover, .black a:link {
  color:black!important;
  text-decoration: none!important;
}
a, a:hover,a:link{
  color:white;
  text-decoration: none;
}
.menuSinglePage a{
  color: black;
  display: block!important;

}
.menuSinglePage a:hover{
  background: #e9ecef;
  padding-left: 13px;
}
.pl-4, .px-4 {
  padding-left: 0rem!important;
  padding-right: 0rem!important;
}
.loginFormSinglePage{
  margin-top:50px;
}
.d-none { /*fix for default display:none for mobile version in carousel, slideshow*/
  display: block!important;
}
.carousel {
  padding-top: 0px!important;
}
.position{  /*for mobile */
  text-align: center;
}
.footerSinglePage{
  text-align: center;
}

.adminArea{
  padding-bottom: 50px;
}
  .btn-blockAdmin {
    width:auto!important;
    font-size: 0.9rem!important;
  }